/*コメント 全体に対するstyle */
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
}

.image.is-256x256 {
  width: 256px;
  height: 256px;
}